@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Kanit", sans-serif;
  font-size: 12px;
}

body {
  max-width: 1200px;
  max-height: 100vh;
  margin: auto;
  background-color: skyblue;
}

header {
  display: flex;
  align-items: flex-end;
  min-height: 100px;
  border-bottom: 4px solid salmon;
  background-color: lightblue;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.branding h1 {
  color: white;
}

.branding h1 > span {
  color: violet;
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
}

header ul a {
  text-decoration: none;
  color: inherit;
}

header ul li:hover {
  background-color: pink;
  color: blue;
  font-weight: 500;
}

header .current {
  background-color: violet;
}

header .current:hover {
  background-color: violet;
  color: white;
}

.showcase {
  background-image: url("https://picsum.photos/id/2/1500/500/?blur=4");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.showcase .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 400px;
  text-align: center;
  color: white;
}

.showcase h1 {
  font-size: 55px;
}

.showcase .container p {
  color: violet;
}

.newsletter {
  padding: 15px;
  background-color: lightblue;
}

.newsletter .container {
  display: flex;
  justify-content: space-around;
}

.newsletter h1 {
  color: orange;
}

.newsletter form {
  display: flex;
  gap: 8px;
}

.newsletter form input {
  font-size: 14px;
}

.newsletter form input:nth-child(1) {
  padding: 4px;
  width: 220px;
  border-radius: 4px;
  border: none;
}

.newsletter form input:nth-child(2) {
  border-radius: 4px;
  color: white;
  background-color: orange;
  padding: 4px 16px;
  border: none;
}

.newsletter form input:nth-child(2):hover {
  background-color: rgb(247, 182, 63);
}

/* Boxes Feature */

.boxes .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .box {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container .box img {
  height: 150px;
}

footer {
  color: white;
  text-align: center;
  padding: 20px;
  background-color: lightblue;
}

@media (max-width: 799px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .newsletter .container {
    gap: 16px;
    flex-direction: column;
    align-items: center;
  }

  .newsletter form {
    gap: 16px;
    flex-direction: column;
    width: 80%;
  }

  .newsletter form input:nth-child(1) {
    width: 100%;
  }

  .boxes .container {
    flex-direction: column;
  }

  .container .box {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
